{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Team Vase</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/vase.png') }}" alt="Backend and Persistence" height="400">
                    <div class="card-body">
                    <h5 class="card-title">How did we come up with our team name?</h5>
                    <p class="card-text">
                        <ol>
                            <li>Our Team name is VASE because it represents everyone on our team. Putting together the first initials of Vivian, Amay, Sarah, and Emma created VASE.</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>  
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/fam1.png') }}" alt="Backend and Persistence" height="650">
                    <div class="card-body">
                    <h5 class="card-title">Amay Advani's Family!</h5>
                    <p class="card-text">
                        <ol>
                            <li> I have a mom, a dad, and a sister in my direct family. My dad is a engineer at qualcomm, and my mom is a yoga instructor. My sister is a bio-engineer at Genetech in SF. I am lifeguard, teach swim lessons, and am a junior Del Norte!  </li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>  
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/ncs_logo.png') }}" alt="Backend and Persistence" height="400">
                    <div class="card-body">
                    <h5 class="card-title">What is Vase's Big Idea for CSP Final Project?</h5>
                    <p class="card-text">
                        <ol>
                            <li>Our Team wanted to do something innovative, so we decided to try and build an AI source that would tell you the sickness or injury that you have after you list certain symptoms. </li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>  
{% endblock %}